body {
      font-family: 'Open Sans', sans-serif;
}
h1 {
			background: #778585;
			color: white;
			margin: 0;
			padding: 10px 28px;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: normal;
      min-height: 30px;
      text-indent: 20px;
		}
		#wrapper{
			width: 90%;
      min-width: 360px;
      max-width: 680px;
			background: #f7f7f7;
			box-shadow: 0 0 3px rgba(0,0,0, 0.1);
      margin: 100px auto;
		}
    #todoListMoudule{
      min-width: 360px;
			background: #f7f7f7;
			box-shadow: 0 0 3px rgba(0,0,0, 0.1);
    }
		.strike {
			text-decoration: line-through;
			color: gray;
		}
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		li {
      background: white;
      width: 100%;
      min-height: 50px;
      /*float: left;*/
      color: #444;
      line-height: 50px;
      position: relative;
      text-indent: 7px;
		}
		li:nth-child(2n) {
			background: #f7f7f7;
		}
	#slideInDeleteButton{
      position: absolute;
			background: #e74c3c;
			height: 50px;
			text-align: center;
			color: white;
			width: 0;
			transition: 0.2s linear;
			opacity: 0;
      right:0px
		}

    li:hover #slideInDeleteButton {
			width: 50px;
			opacity: 1;
		}
		#addTodoInput{
      font-size: 18px;
			background: #f7f7f7;
			padding:13px 13px 13px 20px;
			box-sizing: border-box;
			border: none;
      text-indent: 30px;
      width: 100%;
    }
.del{
      background: none;
      border: none;
      width: 100%;
      height: 100%;
  }
  header{
    position: relative;
  }
  #toggle-all {
      text-align: center;
      border: none;

      position: absolute;
      left: -8px;
      top: 13px;

    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-appearance: none;
    appearance: none;
  }
  #toggle-all:before {
    content: '❯';
    font-size: 20px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
}
input.toggle {
    margin-left: 11px;
    margin-right: 15px;
}
.buttonWrapper{
  position: relative;
}
#addTodoButton{
  position: absolute;
  border:none;
  width: 50px;
  height: 47px;
  right: 0;
  top: -47px;

}

#addTodoButton i{
  right: 0;
  top: 0;

}
button:focus {outline:0 !important;}
input: focus {outline:0;}
input:active {
outline: none;
border: none;
}
li input.noEdit{
  display: none;
  background-color: none;
  border: none;
  outline: none;
  border-color: rgba("255, 0, 0, .5");
}
/*När li har class edit = display: none;*/
li.edit label{
  display: none;
}
li.edit .noEdit{
  display: initial;
}
